.ast-explorer {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 75%;
}

.source-entry {
  grid-row: 1;
  grid-column: 1;
  overflow: scroll;
  resize: none;
}

.annotated-source {
  grid-row: 2;
  grid-column: 1;
  overflow: scroll;
}

.syntax-tree {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
  overflow: scroll;
}
